<!DOCTYPE html>
<html LANG="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel = "stylesheet">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>

<div id="container">
    <div class="header">
        <img src="/sncf.jpeg" alt="sncf" class="responsive">
        <div class="autocomplete" id="form">
            <div id="dep-Arr">
                <input id="inputDep" class="myInput" type="text" name="departure" placeholder="Departure">
                <input id="inputArr" class="myInput" type="text" name="arrival" placeholder="Arrival">
            </div>
            <div id="date-time">
                <input id="date" class="date" type="text" name="Date" placeholder="Date">
                <input id="time" class="timepicke" type="text" name="Time" placeholder="Time">
            </div>

            <img src="/search.png" alt="search" id="search">
        </div>
    </div>

    <div id="result">
        <div id="table">
        </div>
        <div id="message">
            <h1> No solution found for this journey</h1>
        </div>
        <div id="map">
        </div>
        <div id="loader" class="text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="loader-text">
                <h4 id="loader-titre" class="loader">Création de la base de données en cours. Veuillez patienter</h4>
                <h6 class="loader">Cela peut prendre plusieurs minutes</h6>
            </div>
        </div>
        <div id="db-msg" class="text-center">
            <div id="db-success" class="alert alert-success" role="alert">
                <b>Database successfully created !!  </b>  <br>
            </div>
            <div id="db-fail" class="alert alert-danger" role="alert">
                <b> Database creation failed !! </b> <br>
            </div>
            <div id="search-fail" class="alert alert-danger" role="alert">
                <b> Incorrect search query !! </b> <br>
            </div>
            <div id="result-fail" class="alert alert-danger" role="alert">
                <b> Incorrect search query or the date is outdated !! </b> <br>
                <b> Please enter the current or future date</b> <br>
            </div>
        </div>
    </div>
</div>



<!--Make sure the form has the autocomplete function switched off:-->

<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfsk9gTeHe3ecdSYI1hD1qurDFa5TbQnY&callback=initMap">
</script>
<script src="/data.js"></script>
<script src="/autocomplete.js"></script>
<script src="/maps.js"></script>
</body>
</html>

